<div class="mine-coins">
  <h1>Browser the Ledger</h1>
  <p>Here you can browser all ShintoCoin transactions.</p>
  <p>ShintoCoin Ledger</p>
  <table>
    <thead>
      <tr>
        <th>Action</th>
        <th>Amount</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Mined</td>
        <td>1</td>
        <td>2</td>
        <td><button>Details</button></td>
      </tr>
      <tr>
        <td>Mined</td>
        <td>1</td>
        <td>3</td>
        <td><button>Details</button></td>
      </tr>
      <tr>
        <td>Sold</td>
        <td>1</td>
        <td>2</td>
        <td><button>Details</button></td>
      </tr>
      <tr>
        <td>Sold</td>
        <td>1</td>
        <td>1</td>
        <td><button>Details</button></td>
      </tr>
      <tr>
        <td>Bought</td>
        <td>1</td>
        <td>2</td>
        <td><button>Details</button></td>
      </tr>
    </tbody>
  </table>
</div>